.nopadding {
    padding: 0px;
}

#bodyContent {
    padding-left: 20px;
    padding-right: 20px;
}

#bodyContent .page-header {
    margin-top: 0px;
}

#bodyContent .page-header h1 {
    margin: 0px;
    padding: 0px;
}

#bodyContent .right {
    float: right;
}

#bodyContent .bigger {
    padding-bottom: 17px;
    padding-top: 17px;
}